@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none;
      }
      /* width */
      /* ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border: 1px solid #d5d5d5;
      }
      
      ::-webkit-scrollbar-track {
        border-radius: 0;
        background: #eeeeee;
      }
      
      ::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: #b0b0b0;
      }
     */
    /* Handle on hover */
    /* ::-webkit-scrollbar-thumb:hover {
        background: #555;
    } */
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none !important; */
    font-family: 'DM Sans', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}