@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'DM Sans', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}